@layout('layouts/second')

@section('second-layout-content')
<p>
  Officia ratione eius laboriosam adipisci dolores nihil eaque nostrum autem quas illum cumque ducimus sapiente fugit eligendi, magnam quo, reiciendis ex repellendus.
</p>
@endsection